.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.phone-sign-in {
  display: flex;
  justify-content: center;
  /* background-color: gray;  */
  height: 20vh;
}
.phone {
  /* background-color: #61dafb; */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* email sign-in */
.email-sign-in{
  display: flex;
  justify-content: center;
 
}

.email{
  display: flex;
  justify-content: center;
  flex-direction: column;
border: 1px solid gray;
padding: 10px;
margin-bottom: 20px;
}
button{
  margin-bottom: 40px;
}



/* google-sign-in */

.google-sign-in{
display: flex;
justify-content: center;
}

.google{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reset-password{
  display: flex;
  justify-content: center;
}

.reset{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.text {
  font-weight: bold;
}
